* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

  /* Topo da página */
  .topo{
  
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    padding: 20px;    
}
.topo img{
    width: 100px;
   
}
.titulo{
  padding: 20px;
   top: 20px;
  
}
.titulo p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    

}
.links{
top: 50px;
left: 240px;
position: relative;

}
.links a{
    padding: 15px;
    text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 800;
   
   color: #024059;
}
  
  /* Seção conteúdo principal */
  .conteudo-principal {
    padding: 100px 0px;
  }
  
  .conteudo-principal table{
    margin: auto;
  }
  
  .celula-escondida {
    visibility: hidden;
  }
  
  .celula-cabeçalho {
    text-align: center;
    padding: 20px 40px;
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7;
    background-color: #f1f3f7;
  }
  
  .celula-cabeçalho p {
    font-size: 14px;
    font-weight: 500;
    color: #a8a4a4;
  }
  
  .celula-cabeçalho h2 {
    font-size: 36px;
    color: #024059;
  }
  
  table tbody td {
    text-align: center;
    padding: 20px 40px;
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7;
  }
  
  .primeira-celula {
    background-color: #f1f3f7;
    font-weight: 500;
    text-align: left;
  }
  
  .marcador-azul {
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: #024059;
    border-radius: 100px;
  }
  
  
  /* Seção rodape'*/
  footer{
    width: 100%;
    margin: 0 auto;
  text-align: center;
  background-color: #a8a4a4;
  }
  footer img{
    width: 100px;
   
  }
  .rodape{
    display:flex;
   justify-content: center;
  }
  .titulo h1{
    color: #024059;
  }
  .titulo p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #efbb69; 
  }
  footer div {
    padding: 20px;
  }
  
  footer div p{
    font-size: 18px;
  }
  
  .desenvolvedor{
    padding: 20px;
    background-color: #024059;
    font-size: 20px;
    font-weight: 600;
  }
  span{
    color: #efbb69;
  }
     
     